<html ng-app="lunchAndLearnExample">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="StockDataController">

<h1>{{dataBindingExample}}</h1>

<input type="text"
       ng-model="inputText"
       placeholder="Two way binding example"/>
<h1>{{inputText}}</h1>

<h1 ng-if="isTodayTuesday">It is Tuesday!</h1>

<div>
  <button ng-click="toggleBoolean()">Change Tuesday Boolean</button>
</div>


</body>
</html>





